*{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    display: block;
}

/*body {
    background-color: #090909;
}*/

.header {
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
    position: relative;
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
}

.header .header-inner {
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
}

.header-logo {
    width: 2.9291154071470418vw;
    display: inline-block;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.header-logo img {
    width: 2.9291154071470418vw;
}

.header-login {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 99;
    background-color: transparent;
    overflow: hidden;
}

.logout-box {
    font-weight: 500;
    color: black;
}

.logout-box a {
    color: #0F55D0;
    display: inline-block;
}

.logout-box h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
}

body {
    background-color: #F2F6FC;
}

.dmn-logo-plc {
    width: 250px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.dmn-logo-plc img{
    width: 250px;
}

/* Login Box */
.login-box {
    width: 500px;
    height: 300px;
    display: inline-block;
    border-radius: 5px;
    background-color: #FFFFFF;
    left: 50%;
    top: 50%;
    position: absolute;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    transform: translate(-50%, -50%);
}

.login-box-inner {
    width: 350px;
    height: 200px;
    margin: auto;
    position: relative;
}

#login-form {

}

.login-box h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #0F55D0;
    font-weight: 500;
    margin: 25px;
}

#adm-box {
    width: 350px;
    height: 40px;
    border-radius: 0;
    border: none;
    border-bottom: #303030 2px solid;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

#adm-box:focus {
    outline: none;
}

#pssw-box {
    width: 350px;
    height: 40px;
    border-radius: 0;
    border: none;
    border-bottom: #303030 2px solid;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

#pssw-box:focus {
    outline: none;
}

#button-login {
    float: left;
    height: 30px;
    width: auto;
    color: white;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0F55D0;
}

.main-wrapper {
    width: 75%;
    margin: auto;
}

/* Employee Box */
.em-box {
    width: 72%;
    height: auto;
    min-height: 600px;
    display: inline-block;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    float: left;
    position: relative;
}

.employeesTable {

}

.employeesTable h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #0F55D0;
    font-weight: 500;
    margin: 25px;
}

.emNewButton {
    position: absolute;
    right: 25px;
    top: 15px;
}

.emNewButton h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #0F55D0;
    margin-bottom: 10px;
}

.emTable {
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
}

.emTableBody {

}

.emTableRow {
    height: 70px;
    width: 100%;
    border-radius: 5px;
    background-color: #EFF3F8;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    position: relative;
}

.emLink {
    height: 70px;
    width: 100%;
    position: absolute;
}

.emLink a {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.emText {
    height: 25px;
    left: 10%;
    top: 50%;
    position: absolute;
    transform: translate(-0%, -50%);
}

.emID {
    color: black;
    height: auto;
    display: inline-block;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin-left: 20px;
}

.emName {
    color: black;
    height: auto;
    display: inline-block;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin-left: 20px;
}

.emEmail {
    color: black;
    height: auto;
    display: inline-block;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin-left: 20px;
}

.emImage {
    margin: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.emImage img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.emButtons {
    z-index: 2;
    height: 30px;
    right: 0%;
    top: 50%;
    position: absolute;
    transform: translate(-10%, -50%);
}

.emEditButton {
    display: inline-block;
    margin-right: 20px;
}

.emEditButton input{
    height: 30px;
    width: 50px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #0F55D0;
}

#edit-form:hover {
    cursor: pointer;
}

.emDeleteButton {
    width: 50px;
    display: inline-block;
}

.emDeleteButton input{
    height: 30px;
    width: 50px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #0F55D0;
}

.f-box {
    width: 26%;
    height: 600px;
    display: inline-block;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    float: right;
    position: relative;
}

.f-box h1{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #0F55D0;
    font-weight: 500;
    margin: 25px;
}

/* Add employees */
.addem-box {
    width: 500px;
    height: auto;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    background-color: #FFFFFF;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.addem-box-inner {
    width: 350px;
    height: auto;
    padding-bottom: 80px;
    margin: auto;
    position: relative;
}

.addem-box h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #0F55D0;
    font-weight: 500;
    margin: 25px;
}

#fir-box {
    width: 350px;
    height: 40px;
    border-radius: 0;
    border: none;
    color: black;
    border-bottom: #303030 2px solid;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

#sur-box {
    width: 350px;
    height: 40px;
    border-radius: 0;
    border: none;
    color: black;
    border-bottom: #303030 2px solid;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

#em-box {
    width: 350px;
    height: 40px;
    border-radius: 0;
    border: none;
    color: black;
    border-bottom: #303030 2px solid;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

#face-box {
    color: white;
    margin-bottom: 20px;
}

.view-employ-wrapper {
    height: 100%;
    width: 100%;
}

.view-employ-inner {
    width: 55%;
    margin: auto;
}

.view-employ-box-right {
    width: 74%;
    margin-left: 1%;
    height: 280px;
    float: right;
    display: inline-block;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    position: relative;
}

.view-employ-box-left {
    width: 25%;
    height: 250px;
    min-height: 200px;
    float: left;
    display: inline-block;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    position: relative;
}

.view-employ-box-left img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.view-employ-box-right h1{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #0F55D0;
    font-size: 30px;
    font-weight: 500;
    margin: 25px;
}

.view-employ-txt {
    width: 95%;
    height: 200px;
    margin: auto;
    margin-bottom: 50px;
}

/* Edit employees */



