*{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    display: block;
}

/*body {
    background-color: #090909;
}*/

.header {
    width: 100%;
    height: 80px;
    position: relative;
    display: block;
    background-color: #212121;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
}

.header .header-inner {
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
}

.header-logo {
    width: 80px;
    display: inline-block;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.header-logo img {
    width: 80px;
}

body {
    background-color: #303030;
}

/* Login Box */
.login-box {
    width: 500px;
    height: 300px;
    display: inline-block;
    border-radius: 20px;
    background-color: #212121;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-box-inner {
    width: 350px;
    height: 200px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#login-form {

}

#adm-box {
    width: 350px;
    height: 40px;
    border-radius: 0;
    border: none;
    border-bottom: #303030 2px solid;
    background-color: #212121;
    margin-bottom: 20px;
}

#adm-box:focus {
    outline: none;
}

#pssw-box {
    width: 350px;
    height: 40px;
    border-radius: 0;
    border: none;
    border-bottom: #303030 2px solid;
    background-color: #212121;
    margin-bottom: 20px;
}

#pssw-box:focus {
    outline: none;
}

#button-login {
    float: left;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: red;
}

/* Employee Box */
.em-box {
    width: 1000px;
    height: 600px;
    display: inline-block;
    border-radius: 20px;
    background-color: #212121;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.employeesTable {

}

.emTable {
    width: 950px;
    height: 500px;
    margin: auto;
}

.emTableBody {

}

.emTableRow {
    height: 70px;
    width: 100%;
    border-radius: 5px;
    background-color: violet;
    margin-top: 10px;
    margin-bottom: 10px;
}

.emLink {
    height: 60px;
    width: 90%;
    position: absolute;
}

.emLink a {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.emID {
    width: 50px;
    height: auto;
    display: inline-block;
    font-size: 20px;
}

.emFName {
    width: 50px;
    height: auto;
    display: inline-block;
    font-size: 20px;
}

.emSName {
    width: 50px;
    height: auto;
    display: inline-block;
    font-size: 20px;
}

.emEmail {
    width: 50px;
    height: auto;
    display: inline-block;
    font-size: 20px;
}

.emImage {
    margin: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.emImage img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.emEditButton {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.emDeleteButton {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.emNewButton {

}