{% extends "layout.html" %}
{% block body %}
{% if session.name %}
<div class="addem-box">
    <h1>Edit Employee {{employee[0]}}</h1>
  <div class="addem-box-inner">
    <form id="edit-form" action="/editEmployeeData/{{employee[0]}}" method="post">
      <input autocomplete="off" autofocus name="employee_id" placeholder="Enter Firstname" type="hidden" value="{{employee[0]}}">
      <input id="fir-box" autocomplete="off" autofocus name="firstname" placeholder="Enter Firstname" type="text" value="{{employee[1]}}">
      <input id="sur-box" autocomplete="off" autofocus name="surname" placeholder="Enter Surname" type="text" value="{{employee[2]}}">
      <input id="em-box" autocomplete="off" autofocus name="email" placeholder="Enter Email" type="text" value="{{employee[3]}}">
      <input id="face-box" autocomplete="off" autofocus name="face" placeholder="Upload image of yourself" type="text">
      <input id="fingerprint-box" autocomplete="off" autofocus name="finger" placeholder="0" type="text" value="{{employee[6]}}">




      <input id="button-login" type="submit" value="Edit Employee">
    </form>
<button id="register_finger" autofocus name="fingerprint" value="Register Fingerprint" type="submit" onclick="registerPrint()">
          Add new fingerprint from scanner
      </button>



      <br>
      <br>

  </div>
</div>
{% else %}
    You are not logged in.<a href="/login">Log in</a>
{% endif %}



{% endblock %}
