{% extends "layout.html" %}
{% block body %}
{% if session.name %}
<div class="main-wrapper">
    <div class="em-box">
        <div class="employeesTable">
            <h1>All Employees</h1>
            <div class="emNewButton">
                <a href="/addEmployees"><h2>Add Employee</h2></a>
                <a href="/register"><h2>Create Admin Account</h2></a>
            </div>
            <div class="emTable">
                <div class="emTableBody">
                    {% for current in employees %}
                    <div class="emTableRow">
                        <div class="emLink"><a href="/viewEmployee/{{current[0]}}"></a></div>
                        <div class="emImage"><img src="static/images/{{current[5]}}"/></div>
                        <div class="emText">
                            <div class="emID">{{ current[0] }}</div>
                            <div class="emName">{{ current[1] }} {{ current[2] }}</div>
                            <div class="emEmail">{{ current[3] }}</div>
                        </div>
                        <div class="emButtons">
                            <div class="emEditButton">
                                <form id="edit-form" action="/viewEditEmployee/{{current[0]}}" method="post">
                                    <input autocomplete="off" autofocus name="employee_id" type="hidden"
                                           value="{{current[0]}}">
                                    <input autocomplete="off" autofocus type="submit" value="Edit">
                                </form>
                            </div>
                            <div class="emDeleteButton">
                                <form id="delete-form" action="/deleteEmployee" method="post">
                                    <input autocomplete="off" autofocus name="employee_id" type="hidden"
                                           value="{{current[0]}}">
                                    <input autocomplete="off" autofocus type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="f-box">
        <h1>Log Fingerprints</h1>
        <div>
            <div class="emTable">
                {% for current in log %}
                <div class="emTableRow">
                    <div>{{current[0]}}</div>
                    <div>{{current[1]}}</div>
                    <div>{{current[2]}}</div>
                    <div>{{current[3]}}</div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="dmn-logo-plc">
    <img src="static/images/logos/TripleFLogoBlueDRK.png">
</div>
{% endif %}



{% endblock %}

<!--<html>-->
<!--	<head>-->
<!--		<title>Getting Sensors Online</title>-->
<!--	</head>-->
<!--	<body onload="keepAlive(); time(); setupPubNub();">-->
<!--		<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.0.js"></script>-->
<!--		<script src="static/js/main.js"></script>-->
<!--		<h1> Online </h1>-->
<!--		<h2>Connection: <span id="Connection_id">...</span></h2>-->
<!--		<h2>Motion: <span id="motion_id">...</span></h2>-->
<!--		<div>-->
<!--			<input type="checkbox" id="buzzer" onclick="handleClick(this);"/>-->
<!--			<label id="buzzer_on">Buzzer On</label>-->
<!--		</div>-->
<!--	</body>-->
<!--</html>-->