{% extends "layout.html" %}
{% block body %}
{% if session.name %}
    You are logged in as {{session.name}}
    <a href="/logout">Log out</a>
<div class="login-box">
    <h1>All Employees</h1>
  <div class="employeesTable">
      <table>
          <thead>
            <tr>
                <th>id</th>
                <th>firstname</th>
                <th>surname</th>
                <th>email</th>
                <th>fingerprint</th>
                <th>face</th>
            </tr>
          </thead>
           <tbody>
            {% for current in employees %}

            <tr>
            <td>{{ current[0] }}</td>
            <td>{{ current[1] }}</td>
            <td>{{ current[2] }}</td>
            <td>{{ current[3] }}</td>
            <td>{{ current[4] }}</td>
            <td><img src=""</td>
            <td>
                <form id="edit-form" action="/editEmployee" method="post">
                    <input autocomplete="off" autofocus name="employee_id" type="hidden" value="{{current[0]}}">
                    <input autocomplete="off" autofocus type="submit" value="Edit">
                </form>
            </td>
            <td>
                <form id="delete-form" action="/deleteEmployee" method="post">
                    <input autocomplete="off" autofocus name="employee_id" type="hidden" value="{{current[0]}}">
                    <input autocomplete="off" autofocus type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
      </table>
  </div>
</div>
<div>
    <a href="/addEmployees">Add new employee to the database</a>
</div>
{% else %}
    You are not logged in.<a href="/login">Log in</a>
{% endif %}



{% endblock %}

<!--<html>-->
<!--	<head>-->
<!--		<title>Getting Sensors Online</title>-->
<!--	</head>-->
<!--	<body onload="keepAlive(); time(); setupPubNub();">-->
<!--		<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.0.js"></script>-->
<!--		<script src="static/js/main.js"></script>-->
<!--		<h1> Online </h1>-->
<!--		<h2>Connection: <span id="Connection_id">...</span></h2>-->
<!--		<h2>Motion: <span id="motion_id">...</span></h2>-->
<!--		<div>-->
<!--			<input type="checkbox" id="buzzer" onclick="handleClick(this);"/>-->
<!--			<label id="buzzer_on">Buzzer On</label>-->
<!--		</div>-->
<!--	</body>-->
<!--</html>-->