<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="intial-scale=1, width=device_width">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    <title>DMN Systems</title>

</head>
<body>
    <div class="header">
        <div class="header-inner">
            <div class="header-logo">
                <img src="http://ohssales.com/DMN/DMN-Logo1.png">
            </div>
        </div>
    </div>
{% block body %}
{% endblock %}
</body>
</html>