<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/images/logos/TripleFLogoBlueDRK.png" type="image/ico"/>
    <meta name="viewport" content="intial-scale=1, width=device_width">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    <title>Tripl3 F Systems</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.1.js"></script>
    <script src="../static/main.js"></script>


</head>
<body>
    <div class="header">
        <div class="header-inner">
            <div class="header-logo">
                {% if session.name %}
                    <a href="/"><img src="../static/images/logos/TripleFLogoBlueDRK.png"/></a>
                {% else %}
                {% endif %}
            </div>
            <div class="header-login">
                {% if session.name %}
                <div class="logout-box">
                    <h3>You are logged in as <b>{{session.name}}</b></h3>
                    <a href="/logout"><h3>Log out</h3></a>
                </div>
                {% else %}
                <div class="logout-box">
                    <h3>You are not logged in.</h3><a href="/login"><h3>Log in</h3></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% block body %}
{% endblock %}
<footer>
    <div class="footer-inner">
        <h1>© 2022 <abbr id="DMN" title="Reds Too Aggressive">DMN Systems</abbr> trading as Triple F Systems</h1>
    </div>
</footer>
</body>
</html>