{% extends "layout.html" %}
{% block body %}
<div class="login-box">
  <div class="login-box-inner">
    <form id="login-form" action="/login" method="post">
      <input id="adm-box" autocomplete="off" autofocus name="email" placeholder="Admin Number" type="text">
      <input id="pssw-box" autocomplete="off" autofocus name="password" placeholder="Password" type="text">
      <input id="button-login" type="Login">
    </form>
    <div class="help-button">

    </div>
  </div>
</div>

{% endblock %}