{% extends "layout.html" %}
{% block body %}
<div class="login-box">
  <h1>Log In</h1>
  <div class="login-box-inner">
    <form id="login-form" action="/login" method="post">
      <input id="adm-box" autocomplete="off" autofocus name="email" placeholder="Admin Username" type="text">
      <input id="pssw-box" autocomplete="off" autofocus name="password" placeholder="Password" type="password">
      <input id="button-login" type="submit" value="Login">
    </form>
  </div>
</div>

{% endblock %}