{% extends "layout.html" %}
{% block body %}
{% if session.name %}
<div class="view-employ-wrapper">
    <div class="view-employ-inner">
        <div class="view-employ-box-left">
            <img src="../static/images/{{employee[5]}}"/>
        </div>
        <div class="view-employ-box-right">
            <h1>{{employee[1]}} {{employee[2]}}</h1>
            <div class="view-employ-txt">
                <h2>ID: {{employee[0]}}</h2>
                <h2>Email: {{employee[3]}}</h2>
                <h2>Fingerprint ID: {{employee[6]}}</h2>
            </div>
        </div>
        <div class="view-employ-box-bottom">
            <h1>Fingerprint Logs For {{employee[1]}}</h1>
            <div class="emTable">
                {% for current in log %}
                <div class="emTableRow">
                    <div>{{current[0]}}</div>
                    <div>{{current[1]}}</div>
                    <div>{{current[2]}}</div>
                    <div>{{current[3]}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
    You are not logged in.<a href="/login">Log in</a>
{% endif %}



{% endblock %}

<!--<html>-->
<!--	<head>-->
<!--		<title>Getting Sensors Online</title>-->
<!--	</head>-->
<!--	<body onload="keepAlive(); time(); setupPubNub();">-->
<!--		<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.0.js"></script>-->
<!--		<script src="static/js/main.js"></script>-->
<!--		<h1> Online </h1>-->
<!--		<h2>Connection: <span id="Connection_id">...</span></h2>-->
<!--		<h2>Motion: <span id="motion_id">...</span></h2>-->
<!--		<div>-->
<!--			<input type="checkbox" id="buzzer" onclick="handleClick(this);"/>-->
<!--			<label id="buzzer_on">Buzzer On</label>-->
<!--		</div>-->
<!--	</body>-->
<!--</html>-->